<!-- <div *ngFor="let item of mentorList">
  {{item.email}}
</div> -->

<mat-form-field class="example-full-width" appearance="fill">
  <input matInput placeholder="Search Mentor" #input
  (keyup)="searchMentor(input.value)">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Status</mat-label>
  <mat-select (selectionChange)="searchMentor($event.value)" >
    <mat-option *ngFor="let s of status" [value]="s" >
      {{s}}
    </mat-option>
  </mat-select>
</mat-form-field>


<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let mentor"> {{mentor._id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell  *matHeaderCellDef>name</th>
    <td mat-cel *matCellDef="let mentor">{{mentor.civility}}.{{mentor.first_name}} {{mentor.last_name}}</td>
  </ng-container>

  <ng-container matColumnDef="usertype">
    <th mat-header-cell *matHeaderCellDef>Usertype</th>
    <td mat-cell *matCellDef="let mentor">{{mentor.company.user_type}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td *matCellDef="let mentor">{{mentor.email}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td *matCellDef="let mentor"> 
      <button mat-raised-button [ngStyle]="{ 'background-color': mentor.user_status == 'active' ? 'green' : 'red' }">{{mentor.user_status}} </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

